body {
	margin: 0;
}
.header {
	background-color: black;
}


.manu {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 48px;
	position: relative;

}

.manu li {
	margin: 0 10px;
	padding: 0 10px;
	border: 1px solid #AAA;
	border-radius: 5px 5px 5px 5px;
	background: #ffffff;
	display: inline-block;
	font-size: 20px;
}

.manu a {
	text-decoration: none;
}