.reservationTable {
	width: 1100px;
	margin-top: 40px;
	margin-left: 300px;
	font-size: 15px;
	margin-bottom: 20px;
}

.reservationTable table {
	text-align: center;
	width: 1000px;
}

.reservationTable th {
	padding: 0px 10px;
}

.reservationTable td {

}

.btn {
	float: right;
	margin-right: 530px; display : inline-block;
	width: 150px;
	font-size: 20px;
	line-height: 45px;
	background: #f39800;
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
	opacity: 0.9;
	line-height: 45px;
	cursor: pointer;
	display: inline-block;
}

.main table {
	width: 800px;
	border-spacing: 0;
	font-size: 14px;
	text-align: center;
	margin-top: 70px;
	margin-left: 400px;
}

.main table th {
	color: #400040;
	padding: 8px 15px;
	background: #ffffff;
	background: -moz-linear-gradient(rgba(34, 85, 136, 0.7),
		rgba(34, 85, 136, 0.9) 50%);

	font-weight: bold;
	border-left: 1px solid #84b2e0;
	border-top: 1px solid #84b2e0;
	border-bottom: 1px solid #84b2e0;
	line-height: 120%;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(34, 85, 136, 0.9);
	/* box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset; */
}

.main table th:first-child {
	border-radius: 5px 0 0 0;
}

.main table th:last-child {
	border-radius: 0 5px 0 0;
	border-right: 1px solid #258;
	/* box-shadow: 2px 2px 1px rgba(0,0,0,0.1),0px 1px 1px rgba(255,255,255,0.3) inset; */
}

.main table tr td {
	/* padding: 8px 15px; */
	border-bottom: 1px solid #84b2e0;
	border-left: 1px solid #84b2e0;
	text-align: center;
}

.main table tr td:last-child {
	border-right: 1px solid #84b2e0;
	/* box-shadow: 2px 2px 1px rgba(0,0,0,0.1); */
}

.main table tr {
	background: #fff;
}

.main table tr:nth-child(2n+1) {
	background: #f1f6fc;
}

.main table tr:last-child td {
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.main table tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}

.main table tr:last-child td:last-child {
	border-radius: 0 0 5px 0;
}

.main table tr:hover {
	cursor: pointer;
}

.wrapper {
	margin: 60px auto;
	text-align: center;
}

h1 {
	margin-bottom: 1.25em;
}

#pagination-demo {
	display: inline-block;
	margin-bottom: 1.75em;
}

#pagination-demo li {
	display: inline-block;
}

.page-content {
	background: #eee;
	display: inline-block;
	padding: 10px;
	width: 100%;
	max-width: 660px;
}
#reservationData, #close {
  cursor: pointer;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  margin: 0px auto 0;
  background-color: #ffffff;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .8s;
  z-index: 2;
}

#modal p {
  line-height: 1.5;
  margin: 0 0 20px;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}