.reservationTable {
	width: 1000px;
	margin-top: 40px;
	margin-left: 150px;
	font-size: 15px;
	height: 50px;
}

.reservationTable table {
	text-align: center;
}

.reservationTable th {
	padding: 0px 10px;
}

.reservationTable td {
	}

button.btn {
	float: right;
	margin-top : -30px;
	margin-right: -200px;
	margin-bottom: 20px;
	display: inline-block;
	width: 150px;
	font-size: 20px; line-height : 45px;
	background: #f39800;
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
	opacity: 0.9;
	line-height: 45px;
	coursor: pointer;
}
.pager {
	display: inline-block;
    width : 700px;
    float: left;
    margin-top: 20px;
    margin-left: -350px;
    margin-bottom: 10px;
    text-align: center;
}

.pager ul {
    list-style: none;
    position: relative;
    left: 50%;
    float: left;
    padding: 1px;
}

.pager ul li {
    margin: 0 1px;
    position: relative;
    /*left: -50%;*/
    float: left;
}

.pager ul li span,
.pager ul li a {
    display: block;
    font-size: 16px;
    padding: 0.6em 1em;
    border-radius: 3px;
}

.pager ul li a {
    background: #EEE;
    color: #000;
    text-decoration: none;
}

.pager ul li a:hover {
    background: #333;
    color: #FFF;
}